<style>
  div.cen{
    text-align: center;
    
}
.button {
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(2, 84, 160);
  padding: 6px 39px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: rgb(7, 245, 126);
  font-weight: bold;
  display: inline-block; 
  width: 2em;
  margin-left: -2em;
  
}
</style>
<div class="container-fluid" style="background-color: rgb(9, 145, 236);">
  
  <div class="cen">
    
  <br>
  <div class="row">
    <div class="col">
     
    </div>
    <div class="col-5">
      
      <b><h6 style="color: white;">Your Free Trial is Over .Please Subscribe To continue using the services.</h6></b>
      
      <br>
    </div>
    <div class="col">
      
      <button class="button">Subscribe</button>
      
    </div>
    
  </div>
  
</div>
  </div>
  <div class="jumbotron" style="background-color: white;">
    <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h6>Current Plan</h6>
            <hr>
            
            <div class="row">
              <img src="../assets/img/box.png" alt="" width="20%">
              
              <div class="col-sm">
                <H6>No active Plan</H6>
                
                <ul>
                  <li>0 backtests per day</li>
                  <li>0 live deployment at a time</li>
                  <li>100 scans perday</li>
                  
                </ul>
                
              </div>
              <div class="col-sm"></div>
            </div>
          </div>
          <div class="container-fluid"><h6 style="color: rgb(7, 103, 182);">Change plan</h6></div>
         
        </div>
       
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h6>Payment Method</h6>
            <hr>
            <div class="row">
              <br><br><br> <br><br><br><br>
              
             
            </div>
            
          </div>
        </div>
      </div>
      
      </div>
      <div class="container">
        <br>
        <h6 style="color: rgb(100, 98, 98);">INVOICE</h6>
        <hr>
        <br>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    Date
                    
                  </div>
                  <div class="col">
                   Plan
                   
                  </div>
                  <div class="col">
                    Billing Period
                    
                  </div>
                 
                </div>
                <hr>
                <div class="row">
                  <div class="col">
                    04/Jan/2019
                  </div>
                  <div class="col">
                    Basic(1 month)
                  </div>
                  <div class="col">
                    04/Jan/2020
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    Payment method
                  </div>
                  <div class="col">
                    Paid Amount
                  </div>
                  <div class="col">
                    Invoice
                  </div>
                
                </div>
                <hr>
                <div class="row">
                  <div class="col">
                   
                  </div>
                  <div class="col">
                   
                  </div>
                  <div class="col">
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<router-outlet></router-outlet>